body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #a6a6a6; 
    color: aliceblue;
    padding: 30px;
    text-align: center;
}

.container {
    display: flex;
    align-items: center;
    margin-top: 10px;
}

.container {
    width: 100px; /* ajusta el tamaño de la imagen según sea necesario */
    margin-right: 20px; /* ajusta el espacio entre la imagen y el texto */
} 

section {
    margin-left: 10PX;
} 

#acercademi {
    margin-left: 50px;
    margin-left: auto;
    padding: 5px;
    text-align: justify;
}

h1, h2, h3 {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', sans-serif;
    color: #333;
    text-align: justify;
}

ul {
    list-style-type:circle;
    padding: 0;
    margin: auto;
}

li {
    margin-bottom: 10px;
}

#img {
    border-radius: 100%;
}
